**Introduction to Python **

In [ ]:
!python --version

Python 3.12.11

**Activity 1**

In [ ]:
print(1 + 3)
print(10 / 2)
print(5 ** 2)

4
5.0
25

**Activity 2**

In [ ]:
print("python" + " basics")
print("AI " * 3)

python basics
AI AI AI

**Activity 3**

In [ ]:
fruit = "apple"
print(fruit)
fruit = 17
print(fruit)
x = str(3); y = int(3); z = float(3)
print(type(x), type(y), type(z))

apple
17
<class 'str'> <class 'int'> <class 'float'>

**Activity 4**

In [ ]:
mylist = ["apple", 34.5, "banana", 9]

print("Complete list:", mylist)
print("First element:", mylist[0])
print("Last element:", mylist[-1])
print("Sublist from index 1 to 2:", mylist[1:3])
print("Every second element:", mylist[::2])

if "app" in mylist[0]:
    print("Substring 'app' found in the first element.")

mylist.append("grape")
print("List after appending 'grape':", mylist)

mylist.remove("banana")
print("List after removing 'banana':", mylist)

mylist[1] = 99.9
print("List after updating index 1:", mylist)

Complete list: ['apple', 34.5, 'banana', 9]
First element: apple
Last element: 9
Sublist from index 1 to 2: [34.5, 'banana']
Every second element: ['apple', 'banana']
Substring 'app' found in the first element.
List after appending 'grape': ['apple', 34.5, 'banana', 9, 'grape']
List after removing 'banana': ['apple', 34.5, 9, 'grape']
List after updating index 1: ['apple', 99.9, 9, 'grape']

**Activity 5**

In [12]:
car = {"brand": "Ford", "model": "Mustang", "year": 1964}
print("Initial dictionary:", car)

print("Model of the car:", car["model"])

car["year"] = 2024
print("After updating 'year':", car)

car["color"] = "red"
print("After adding a new key 'color':", car)

removed_value = car.pop("model")
print("Removed 'model' key with value:", removed_value)
print("Dictionary after pop operation:", car)

last_item = car.popitem()
print("Removed the last inserted item:", last_item)
print("Dictionary after popitem:", car)

print("Get 'brand' safely:", car.get("brand"))
print("Get non-existing key safely (returns None):", car.get("engine"))

if "brand" in car:
    print("'brand' key exists in the dictionary.")

print("All keys:", car.keys())
print("All values:", car.values())
print("All items (key–value pairs):", car.items())

car_copy = car.copy()
print("Shallow copy of dictionary:", car_copy)

car.clear()
print("Dictionary after clearing all items:", car)

Initial dictionary: {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Model of the car: Mustang
After updating 'year': {'brand': 'Ford', 'model': 'Mustang', 'year': 2024}
After adding a new key 'color': {'brand': 'Ford', 'model': 'Mustang', 'year': 2024, 'color': 'red'}
Removed 'model' key with value: Mustang
Dictionary after pop operation: {'brand': 'Ford', 'year': 2024, 'color': 'red'}
Removed the last inserted item: ('color', 'red')
Dictionary after popitem: {'brand': 'Ford', 'year': 2024}
Get 'brand' safely: Ford
Get non-existing key safely (returns None): None
'brand' key exists in the dictionary.
All keys: dict_keys(['brand', 'year'])
All values: dict_values(['Ford', 2024])
All items (key–value pairs): dict_items([('brand', 'Ford'), ('year', 2024)])
Shallow copy of dictionary: {'brand': 'Ford', 'year': 2024}
Dictionary after clearing all items: {}

**Activity 6**

In [11]:
thisset = {"apple", "banana", "cherry"}
print("Initial set:", thisset)

set1 = {"abc", 34, True, 40, "male"}
print("Mixed-type set:", set1)

thisset.add("orange")
print("After adding 'orange':", thisset)

thisset.update(["grape", "mango"])
print("After adding multiple elements:", thisset)

thisset.remove("banana")
print("After removing 'banana':", thisset)

thisset.discard("papaya")
print("After attempting to discard 'papaya' (not present):", thisset)

removed_item = thisset.pop()
print("Removed an arbitrary element:", removed_item)
print("Set after pop operation:", thisset)

print("Is 'apple' in the set?", "apple" in thisset)

union_set = thisset.union(set1)
print("Union of thisset and set1:", union_set)

intersection_set = thisset.intersection(set1)
print("Intersection of thisset and set1:", intersection_set)

difference_set = thisset.difference(set1)
print("Difference (thisset - set1):", difference_set)

copy_set = thisset.copy()
print("Copy of the set:", copy_set)

thisset.clear()
print("Set after clearing all elements:", thisset)

Initial set: {'cherry', 'banana', 'apple'}
Mixed-type set: {'abc', True, 34, 40, 'male'}
After adding 'orange': {'orange', 'cherry', 'banana', 'apple'}
After adding multiple elements: {'grape', 'orange', 'mango', 'banana', 'cherry', 'apple'}
After removing 'banana': {'grape', 'orange', 'mango', 'cherry', 'apple'}
After attempting to discard 'papaya' (not present): {'grape', 'orange', 'mango', 'cherry', 'apple'}
Removed an arbitrary element: grape
Set after pop operation: {'orange', 'mango', 'cherry', 'apple'}
Is 'apple' in the set? True
Union of thisset and set1: {'abc', True, 'orange', 34, 'mango', 40, 'apple', 'cherry', 'male'}
Intersection of thisset and set1: set()
Difference (thisset - set1): {'orange', 'apple', 'cherry', 'mango'}
Copy of the set: {'orange', 'apple', 'cherry', 'mango'}
Set after clearing all elements: set()

**Activity 7**

In [10]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

**Activity 8**

In [9]:
a, b = 33, 200
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

b is greater than a

**Activity 9**

In [8]:
for i in range(5):
    print("Number:", i)

for i in range(2, 7):
    print("From 2 to 6:", i)

for i in range(0, 10, 2):
    print("Even number:", i)

for i in range(5, 0, -1):
    print("Countdown:", i)

fruits = ["apple", "banana", "cherry"]
for index in range(len(fruits)):
    print("Index:", index, "Fruit:", fruits[index])

for i in range(10):
    if i % 2 != 0:
        print("Odd number:", i)

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4
From 2 to 6: 2
From 2 to 6: 3
From 2 to 6: 4
From 2 to 6: 5
From 2 to 6: 6
Even number: 0
Even number: 2
Even number: 4
Even number: 6
Even number: 8
Countdown: 5
Countdown: 4
Countdown: 3
Countdown: 2
Countdown: 1
Index: 0 Fruit: apple
Index: 1 Fruit: banana
Index: 2 Fruit: cherry
Odd number: 1
Odd number: 3
Odd number: 5
Odd number: 7
Odd number: 9

**Activity 10**

In [7]:
def my_function(fname, lname):
    print("Full name:", fname + " " + lname)

my_function("Emil", "Refsnes")

def kids_function(*kids):
    print("The youngest child is:", kids[2])

kids_function("Emil", "Tobias", "Linus")

def greet_user(name="Guest"):
    print("Hello,", name)

greet_user()
greet_user("Alice")

def describe_pet(**pet_info):
    print("Pet details:")
    for key, value in pet_info.items():
        print(key.capitalize() + ":", value)

describe_pet(type="Dog", name="Buddy", age=5)

def add_numbers(a, b):
    return a + b

result = add_numbers(10, 20)
print("Sum of numbers:", result)

Full name: Emil Refsnes
The youngest child is: Linus
Hello, Guest
Hello, Alice
Pet details:
Type: Dog
Name: Buddy
Age: 5
Sum of numbers: 30

**EXERCISE 1**

In [21]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

number = 29
print(f"{number} is prime:", is_prime(number))

29 is prime: True

**EXERCISE 2**

In [20]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
average = sum(numbers) / len(numbers)
print("Average of numbers:", average)

Average of numbers: 55.0

**EXERCISE 3**

In [19]:
students = {"John": 85, "Emma": 92, "Sophia": 78, "Olivia": 95, "Liam": 88}
topper = max(students, key=students.get)
print("Topper:", topper, "with marks:", students[topper])

Topper: Olivia with marks: 95

**EXERCISE 4**

In [18]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1.union(set2)
intersection_set = set1.intersection(set2)
difference_set = set1.difference(set2)

print("Union of sets:", union_set)
print("Intersection of sets:", intersection_set)
print("Difference of sets (set1 - set2):", difference_set)

Union of sets: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of sets: {4, 5}
Difference of sets (set1 - set2): {1, 2, 3}

**EXERCISE 5**

In [17]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)

num = 5
print(f"Factorial of {num}:", factorial(num))

Factorial of 5: 120

**EXERCISE 6**

In [16]:
def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        print(a, end=" ")
        a, b = b, a + b

n_terms = 10
print(f"Fibonacci series up to {n_terms} terms:")
fibonacci(n_terms)

Fibonacci series up to 10 terms:
0 1 1 2 3 5 8 13 21 34

**EXERCISE 7**

In [15]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count

input_string = "Hello, how are you?"
vowel_count = count_vowels(input_string)
print(f"Number of vowels in '{input_string}':", vowel_count)

Number of vowels in 'Hello, how are you?': 7

**EXERCISE 8**

In [14]:
numbers_tuple = (15, 23, 42, 7, 91, 65, 34)
max_num = max(numbers_tuple)
min_num = min(numbers_tuple)
print("Maximum number in tuple:", max_num)
print("Minimum number in tuple:", min_num)

Maximum number in tuple: 91
Minimum number in tuple: 7

**EXERCISE 9**

In [13]:
user_input = input("Enter a string: ")
reversed_string = user_input[::-1]
print("Reversed string:", reversed_string)

Enter a string: sadia
Reversed string: aidas